<div class= "hide" id="modal">
    <div class="content">
        <div class="header"> 
            <h1>Pontos de coleta</h1>
            <a>Fechar</a>
        </div>

            <form action="/search">
                <label for="search">Cidade</label>
                <div class="search field">
                    <input placeholder="Pesquise por cidades" type="text" name="search">
                    <button>
                        <img src="./assets/search.svg" alt="Buscar">
                    </button>
                </div>
            </form>
    </div>
</div>